<style>
    
    main {
        background-image: url(/assets/img/irodalom-terapia.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: lighten;
        background-color: rgba(255, 255, 255, 0.5);
    }


    main .content {
        width: 100%;
    }

    .title-with-source-edit {
        display: none;
    }
</style>
<div id="bemutatkozás"></div>
<div class="introduction-container">
    <div class="intro-image-container">
        <img src="/assets/img/about/panka-intro-image.png">
    </div>
    <div class="intro-text-container">
        <div class="intro-starter-text">
            <title>Az én történetem</title>
            <p>Rudolf Panka vagyok, és hiszek a történetek és az emberek erejében. Hiszek benne, hogy a történetek az ősidőktől fogva segítenek a saját narratívánk írásában és saját életünk alakításában.</p>
            <p>Kiskorom óta könyvmoly vagyok, a könyvek mindig is menedéket, felismeréseket, azonosulást, kalandot jelentettek a számomra.</p>
        </div>
        <div class="intro-text-columns-container">
            <div class="intro-text-column"><title>Az út eleje</title><p>Amikor pályaválasztásra került a sor, kérdés sem lehetett, hogy az utam a könyvek felé vezet. Két olyan szakot választottam, ahol az irodalom és a szövegek nagy hangsúlyt kaptak, és mellette még emberekkel is lehetett foglalkozni: angol és magyar szakos tanárként diplomáztam. Ám éreztem, valami hibádzik, nem lexikális tudást szerettem volna átadni a diákjaimnak, inkább emberként érdekeltek. Sosem tudtam igazán szigorú tanárnéni lenni, nem szerettem házit adni, követelni…</p>
            </div>
            <div class="column-separator"></div>
            <div class="intro-text-column"><title>Booktion!</title><p>2013-ban elindítottam irodalmi-közösségi programsorozatomat, a <a href="https://apokrifonline.com/2016/01/29/jatsszunk-irodalmat-interju/">Booktion!-t</a>. A Booktion! célja az volt, hogy szövegek segítségével kapcsolódjunk egymáshoz, felejtsük el, “mire gondolt a költő”, beszélgessünk magunkról, egymásról. Ez a <a href="https://galaktika.hu/idoutazas-a-booktion-nel/">foglalkozássorozat</a> rengeteg tapasztalattal és élménnyel gazdagított, és úgy éreztem, ezt a kézzelfogható gyakorlati tudást alapjaiban is meg kell támogatnom.</p>
            </div>
        </div>
    </div>
</div>
<div class="introduction-container">
    <div class="intro-text-container">
        <div class="intro-starter-text">
            <title>A biblioterápia</title>
            <p>2018-ban elvégeztem a Pécsi Tudományegyetemen a biblioterápia szakot, így azóta már okleves irodalomterapeutaként tartom foglalkozásaimat. A fókusz nálam mindig a hozzám fordulókon van, a szöveg pedig segítőtársként kísér végig a közös utunkon. Hiszem, hogy a legfontosabb összetevő a kapcsolódás - csoportjaimon kapcsolódsz hozzám, a csoporttagokhoz, a szöveghez, és nem utolsó sorban önmagadhoz is!</p>
        </div>
    </div>
    <div class="intro-image-container">
        <img src="/assets/img/irodalom-terapia.png">
    </div>
</div>
<div id="mi-is-az-a-biblioterápia"></div>
<div class="bibliotherapy-explained-container">
    <div class="bibliotherapy-infographics">
        <img src="/assets/img/about/infografika_mi_is_az_a_biblioterapia.png">
    </div>
    <div class="bibliotherapy-explained-text">
        <title>Mi is az a biblioterápia?</title>
        <p>A biblioterápia elnevezés a ‘biblio’ = könyvek és a terápia szóból ered. A művészetterápiák és a szocioterápiák közös halmazába tartozik, így jól használható önismereti fejlesztéshez. Szinonimája az irodalomterápia, mely talán egyértelműbben jelzi szöveggel való lelki segítségnyújtás funkcióját.</p>
        <div class="separator-icon"><img src="/assets/icons/book-black.svg"></div>
        <p>Egy irodalomterápiás foglalkozásom során a legkülönfélébb irodalmi művek segítenek számodra, hogy reflektálj saját működési módjaidra, elakadásaidra, kérdéseidre. Nem szöveget elemzünk egy foglalkozás vagy konzultáció során, hanem RÓLAD beszélgetünk, és arról, számodra itt és most mit mond a szöveg, hogyan tudsz kapcsolódni hozzá. A szöveg segít elindulni, kapaszkodót ad hozzá, hogy megkezd vagy folytasd az önismereti utad. Egy-egy szereplő motivációja, élethelyzete ismerős lehet a számodra a saját életedből, és segít tisztábban, egy külső perspektívából rálátni egy dilemmára. A szövegek segítségével megéled, hogy nem vagy egyedül, hiszen akár hosszú évekkel ezelőtt élt, és távoli országokban alkotó emberek írtak ugyanarról a kérdésről, ami téged foglalkoztat.</p>
        <div class="separator-icon"><img src="/assets/icons/book-black.svg"></div>
        <p>Irodalomterápiás csoportjaimon az önismereti kérdések mellett fontos szerepet kap a játék és a kreatív energiák felszabadítása is. Mozgósítjuk a kötöttségektől nem gátolt gyermeki éned, és így utat találhatsz valódi önmagadhoz, aki hiteles, önazonos módon éli életét.</p>
        <a class="calendar-link" href="/csoportok/#event_calendar"><button class="link-button">Aktuális foglalkozásaimért kattints ide!</button></a>
    </div>
</div>
<div id="visszajelzések" class="all-feedback">
    <title class="all-feedback-title">Visszajelzések</title>
    <div class="underline"></div>
</div>
<div class="speech-bubble-container">
    <div class="speech-bubble-columns">
        <div class="speech-bubble">“Igazán hasznos volt. Mivel korábban még sose vettem részt irodalomterápián, így kíváncsian vártam, mi is fog történni. Ugyan voltak témáim (amik jelen vannak most az életemben), de meghagytam az esélyét, hogy a megfelelő téma kerüljön előtérbe. Így is történt. A felolvasott szöveg elindított bennem egy gondolatmenetet, aminek igazán hálás vagyok. Ha nem ebben a szövegkörnyezetben hangzik el, akkor biztos más gondolatok fogalmazódnak meg bennem.”</div>
        <div class="speech-bubble-id">Orsi az egyéni konzultációról</div>
        <div class="speech-bubble">“Rövid idő alatt tartalmas mély beszélgetés volt.”</div>
        <div class="speech-bubble-id">Eszter az egyéni konzultációról</div>
        <div class="speech-bubble">“Nagyon szeretem a csoportjaidat, ahogy vezeted, csendesen, támogatóan, ahogy benne vagy te is, nagyon köszönöm az élményt. Kaptam klassz irodalmi szövegeket, remek társaságot, élményt, jó gondolatokat, kikapcsolódást.”</div>
        <div class="speech-bubble-id">Gyöngyi egy nyitott csoportról</div>
        <div class="speech-bubble">"Annyira köszönöm, hogy csinálod, most ez a jutifalat nap végén."</div>
        <div class="speech-bubble-id">Júlia a koronavírus idején indított Facebook közösségemről</div>
    </div>
    <div class="speech-bubble-columns">
        <div class="speech-bubble">“A tegnapi közös beszélgetésünk után megállapítottam, hogy sokkal jobb kedvem van, és a nap maradék részében többször megállapítottam, mennyire jót tesz és fontos, hogy a lényegében egyforma helyzetben való jelen létezés milyen sok közös pontot tartalmaz, meg hoz elő, szimultán pedig új látásmódokra is nyitja a szemünket. Nagyon köszönöm Panka, az egyedül az együttben állapotból sikerült az egyedül, mégis együttbe kirándulni egy nagyot tegnap."</div>
        <div class="speech-bubble-id">Gabi az Együtt-egyedül zárt csoportól</div>
        <div class="speech-bubble">Hát ez nagyon-nagyon jó volt. Volt mélysége meg magassága, teljesen el tudtam engedni magam -- szóval: köszi! :)”</div>
        <div class="speech-bubble-id">Ági egy online workshopról</div>
        <div class="speech-bubble">"A KarantOn számomra egy kis oázis a sok új "karanténprogram" között. Játékokkal segít elűzni a monotonitást és unalmat, és érdekes kérdésekkel, feladatokkal segít, hogy "ne veszítsük el magunkat" ebben a szélsőséges helyzetben. És mindeközben egy támogató kis közösség is épülget."</div>
        <div class="speech-bubble-id">Eszter a koronavírus idején indított Facebook közösségemről</div>

    </div>
    <div class="speech-bubble-columns">
        <div class="speech-bubble">“A mai napig is kitart annak az esti foglalkozásnak az energiája 😍 Nagyon nagy élmény volt megélni az egymáshoz kapcsolódás kibontakozását. Egy idő után el is felejtettem, hogy a saját szobámban ülök, annyira lekötött a többiekre való figyelés és élveztem a bizalmi teret, amiben dolgoztunk. Meggyőző tapasztalat volt számomra,hogy a zoom keretei is tudják ezt biztositani, így érdemes vele próbálkozni! A végén mulatságos volt és feloldó a vers, amit közösen alkottunk.”</div>
        <div class="speech-bubble-id">Márti egy online workshopról</div>
        <div class="speech-bubble">"Amikor csatlakoztam, még nem láttam teljesen, mivel fog járni, és mit hoz elő belőlem ez a helyzet. Az elmúlt két napom elég rossz lelkiállapotban telt, és ma, hogy kicsit jobb lett, azért kezdtem körülnézni itt, mert hátha segít - és segít."</div>
        <div class="speech-bubble-id">Adri a koronavírus idején indított Facebook közösségemről</div>
        <div class="speech-bubble">“Tényleg nagyon sokat lendített rajtam a közös beszélgetés. Mert ugyan beszélek én magamban is, de a válasz ugye mindig ismerős:-), szóval amikor kvázi idegen emberek mondják el a magukét, és hallgatják a másikét okosan, figyelemmel a témában, ez valóban működik.”</div>
        <div class="speech-bubble-id">Gabi az Együtt-egyedül online zárt csoportról</div>
    </div>
</div>
<div id="cikkek-interjuk" class="all-feedback">
    <title class="all-feedback-title">Cikkek, interjúk</title>
    <div class="underline"></div>
</div>
<div class="press-container">
    <div class="press-content">
        <a href="https://galaktika.hu/idoutazas-a-booktion-nel/">Időutazás a Booktionnel!</a>
</div>