---

---
<div class="consult-text-and-image-container">
    <div class="consult-text-and-image">
        <figure class="consult-top-right-image"><img class="consult-image-format" src="/assets/img/consult/consult1.png"><figcaption class="consult-top-right-caption">A kép illusztráció</figcaption></figure>
        <p>Elakadtál, és nem tudod, merre tovább? Van egy kérdés az életedben, amihez folyton vissza-visszatérsz? Döntést kellene hoznod valamiben, és fogalmad sincs, mit lépj? Bizonytalanná vált körülötted minden? Párkapcsolati, családi vagy éppen karrier gondokkal küzdesz?</p>
        <p>Szeretnéd átbeszélni valakivel ezeket a kérdéseket, aki megtartó figyelemmel hallgat, és reflektál a szituációra? Szeretnéd mindehhez az irodalom gyógyító erejét segítségül hívni?</p>
        <p>Akkor keress bizalommal egy irodalomterápiás konzultáció céljából! Személyesen is tudunk találkozni, de ha neked könnyebb a saját otthonodban megnyílni, vagy éppen messze vagyunk egymástól földrajzilag, akkor online formában is tudunk kapcsolódni.</p>
        <h2>Hány alkalommal fogunk beszélgetni?</h2>
        <p>Az egyéni irodalomterápiás konzultáció már egy alkalommal is kerek egész élményt nyújt neked, aminek során eljutunk A-ból B-be. Sok esetben már egy alkalom olyan felismerésekhez juttatja a hozzám fordulókat, ami segít nekik a továbbiakban. Ám, ha úgy érzed, neked ennél többre lenne szükséged, akkor egyéni igényeidre szabva lehetőség van közösen belevágni egy hosszabb folyamatba is.</p>
        <h2>Hol fogunk találkozni?</h2>
        <p>Online és személyesen is tudunk beszélgetni. Ha a személyes opciót választod, Budapest egy jól megközelíthető, hangulatos, bizalmi légkört biztosító helyszínén találkozunk. A részleteket emailben küldöm el.</p>
        <img class="consult-infographic" src="/assets/img/consult/egyeni_infografika.png">
        <h2>Milyen szöveggel fogunk dolgozni?</h2>
        <p>Három lehetőség közül választhatsz:</p>
        <ul class="consult-options-list">
            <li><h3>“A segítő szöveg” opció</h3><p>Ebben az esetben egy kérdést, dilemmát hozol, ami foglalkoztat, én pedig választok neked egy szöveget, ami a vezérfonalunk lesz a beszélgetéshez. Előzetesen felteszek neked néhány kérdést e-mailben, ami alapján kiválasztom a szöveget. Ez az opciót abban az esetben ajánlom, ha nagyon konkrét kérdéseid vannak, amiken szeretnél dolgozni, és kíváncsi vagy, mire jutunk egy irodalmi alkotás vezetésével. Illetve, ha szereted a meglepetéseket. :)</p></li>
            <li><h3>“A szöveg, amivel dolgom van” opció</h3><p>Van egy szöveg, történet az életedben, ami nagy kedvenced, és biztos vagy benne, hogy fontos üzenete van a számodra? Vagy találkoztál egy szöveggel, ami megfogott, felkavart, elindított benned érzéseket, gondolatokat? Szuper! Hozd el a konzultációra, és átbeszéljük, helyre tesszük az érzéseidet, gondolataidat vele kapcsolatban. Mivel a szemléletem szerint minden lehet szöveg, így akár egy filmről vagy sorozatról is tudunk beszélgetni.</p></li>
            <li><h3>“Az én szövegem” opció</h3><p>Szoktál írni verseket, novellákat, történeteket, vagy kategorizálhatatlan műfajú saját műveket? Úgy érzed, írásban tudod a legjobban kifejezni magad? Nagyon jó, akkor dolgozzunk a te szövegeiddel, nézzük meg, mit mutatnak meg rólad a saját műveid! Az a tapasztalat, hogy néha olyasmiket mutat meg rólunk a saját írásunk, amiről nem is tudtuk, hogy ott van benne - bennünk.</p></li>
        </ul>
        <h2>Mennyibe kerül?</h2>
        <p>Egy hatvan perces konzultáció 8000 forintba kerül.</p>
        <h2>Hogyan tudok jelentkezni?</h2> 
        <p>Jelenleg nem fogadok új érdeklődőket. Kérlek, figyeld a honlapomat és egyéb közösségi médiás oldalamait, ahol jelzem majd, ha újra lesz lehetőség jelentkezni hozzám!</p>

</div>
<div class="consult-feedback-container"><div class="consult-feedback"><p>“Igazán hasznos volt a konzultáció. Mivel korábban még sose vettem részt irodalomterápián, így kíváncsian vártam, mi is fog történni. Ugyan voltak témáim (amik jelen vannak most az életemben), de meghagytam az esélyét, hogy a megfelelő téma kerüljön előtérbe. Így is történt. A felolvasott szöveg elindított bennem egy gondolatmenetet, amiért igazán hálás vagyok. Ha nem ebben a szövegkörnyezetben hangzik el, akkor biztos más gondolatok fogalmazódnak meg bennem."</p><span class="consult-feedback-person">- Orsi -</span></div></div>