<div class="contact-form-container">
  <form action="https://formspree.io/xyydrwwq" method="POST">
      <label for="fname">Vezetéknév</label>
      <input type="text" id="fname" name="firstname" placeholder="">
  
      <label for="lname">Keresztnév</label>
      <input type="text" id="lname" name="lastname" placeholder="">

      <label for="email">Email cím</label>
      <input type="text" id="email" name="email_address" placeholder="felhasznalo@pelda.hu">
  
      <label for="subject">Tárgy</label>
      <textarea id="subject" name="subject" placeholder="Írj pár sort arról, miért fordulsz hozzám!" style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  </form>
</div>

<style>
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact-form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  margin: 30px auto;
}
</style>