<style>
    main .content {
        width: 70%;
    }
</style>

<div class="upcoming-events-container">
    {% for event in site.events %}
    <div class="single-event-container">
        <div class="{% if event.event_type == "Workshop" %}single-event-title-workshop{% elsif event.event_type == "Nyitott csoport" %}single-event-title-opengroup{% elsif event.event_type == "Zárt csoport" %}single-event-title-closedgroup{% endif %}">
            <title>{{ event.event_type }}</title>
        </div>
    <div class="single-event-description">
        <title>{{ event.title }} {% if event.event_date %}- {{ event.event_date | date: '%Y. %m. %d., %H:%M' }}{% endif %}</title>
        <p>{{ event.description | truncatewords: 30 }}</p>
        <a class="single-event-link" target="_blank" href="{{ event.url }}">
            <button class="{% if event.event_type == "Workshop" %}single-event-button-workshop{% elsif event.event_type == "Nyitott csoport" %}single-event-button-opengroup{% elsif event.event_type == "Zárt csoport" %}single-event-button-closedgroup{% endif %}">Részletek</button>
        </a>
    </div>
    <div class="single-event-image">
        <img src="{{ event.image }}"></div>
    </div>
    {% endfor %}
</div>
<div>
    <h2>Korábbi csoportok</h2>
    <p>Ízelítő mindenkori csoportjaim kínálatából a teljesség igénye nélkül. Ez a lista abban segít, hogy ismerkedj azokkal a témákkal, amikkel találkozhatsz nálam, és könnyebben dönts, szimpatikus-e számodra a tevékenységem. Ha látsz a listában olyan csoportot, ami felkeltette az érdeklődésed, de jelenleg nem indul, írj nekem egy e-mailt, és szólok, ha újra lehetőséged van csatlakozni!</p>
    <h3>Rövidebb, nyitott csoportok</h3>
    <ul>
        <li>Viszonyom a tárgyaimhoz – online önismereti minicsoport</li>
        <li>Viszonyom a testemhez – online önismereti minicsoport</li>
        <li>Viszonyom az idő(m)höz – online önismereti minicsoport </li>
        <li>Viszonyom 2021-hez – online önismereti minicsoport</li>
        <li>Viszonyom a munkámhoz – online önismereti minicsoport</li>
        <li>Belső szabadság – online önismereti minicsoport</li>
        <li>Őszi nagytakarítás – ki vagyok én a kapcsolataimban?</li>
    </ul>
    <h3>Hosszabb, zárt csoportfolyamatok</h3>
    <ul>
        <li>A Gyűrűk Ura kaland – 8 alkalmas önismereti csoport</li>
        <li>Belső iránytű – 8 alkalmas zárt irodalomterápiás csoport</li>
        <li>Együtt-egyedül zárt irodalomterápiás csoport</li>
        <li>Jancsi és Juliska hazatalál – irodalomterápiás csoport a testvérkapcsolatokról</li>
    </ul>
    <h3>Egyalkalmas csoportok, workshopok</h3>
    <ul>
        <li>A Witcher pszichológiája workshop</li>
        <li>Ne ess pánikba – online irodalomterápiás workshop a Galaxis Útikalauz stopposoknak nyomán</li>
        <li>Péntek 13-i Önismereti Workshop: (bal)szerencse?</li>
        <li>Halloween Önismereti Workshop</li>
        <li>Önismereti séta irodalommal: „Elfogadni az abszurd valóságot”</li>
        <li>Rajzolj nekem egy bárányt – szabadtéri önismereti workshop: rajz + irodalom</li>
        <li>Belső utak – külső célok – önismereti irodalomterápiás workshop</li>
        <li>Barangoló – önismereti séta vadon- és irodalomterápiás gyakorlatokkal</li>
        <li>(Kosztka Júlia tapasztalati outdoor tréner, szociális munkással együttműködésben)</li>
        <li>Írd a saját történeted! workshop – Hogyan segít az önismeret az alkotásban?</li>
        <li>Hétindító reggeli hangolódás irodalommal // Fodor Ákos haikuk</li>
        <li>Dal-szövegelő – önismereti beszélgetés kedvenc dalszövegeink mentén</li>
    </ul>

+ hét évnyi Booktion! – könyves-közösségi esemény: te + a közösség + a szöveg
</div>

