<div class="slider-wrap"> 
    <title>Rólam mondták</title>
    <div class="slider" id="slider">
      <div class="holder">
        <div class="slide" id="slide-0">
          <div class="feedback">
            <nav class="next-slide-fake">&lt;</nav>
            <div class="feedback-text"><p>"A felolvasott szöveg elindított bennem egy gondolatmenetet, aminek igazán hálás vagyok"</p></div>
            <span class="dot">Separator</span>
            <div class="feedback-text"><p>"Rövid idő alatt tartalmas, mély beszélgetés volt."</p></div>
            <span class="dot">Separator</span>
            <div class="feedback-text"><p>"Kaptam klassz irodalmi szövegeket, remek társaságot, élményt, jó gondolatokat, kikapcsolódást."</p></div>
            <nav class="next-slide">
              <a href="#slide-1">&gt;</a>
            </nav>
          </div>
        </div>
        <div class="slide" id="slide-1">
          <div class="feedback">
            <nav class="next-slide">
              <a href="#slide-0">&lt;</a>
            </nav>
            <div class="feedback-text"><p>"Hát ez nagyon-nagyon jó volt.
              Volt mélysége meg magassága, teljesen el tudtam engedni magam -- szóval: köszi! :)"></p></div>
            <span class="dot">Separator</span>
            <div class="feedback-text"><p>"Fontos, hogy a lényegében egyforma helyzetben való jelen létezés milyen sok közös pontot tartalmaz, meg hoz elő"</p></div>
            <span class="dot">Separator</span>
            <div class="feedback-text"><p>"...amikor kvázi idegen emberek mondják el a magukét, és hallgatják a másikét okosan, figyelemmel, az valóban működik."</p></div>
            <nav class="next-slide"><a href="#slide-2">&gt;</a>
            </nav>
          </div>
        </div>
        <div class="slide" id="slide-2">
          <div class="feedback">
            <nav class="next-slide">
              <a href="#slide-1">&lt;</a>
            </nav>
            <div class="feedback-text"><p>"Nagyon nagy élmény volt megélni az egymáshoz kapcsolódás kibontakozását."</p></div>
            <span class="dot">Separator</span>
            <div class="feedback-text"><p>"A KarantOn számomra egy kis oázis a sok új "karanténprogram" között. "</p></div>
            <span class="dot">Separator</span>
            <div class="feedback-text"><p>"Annyira köszönöm, hogy csinálod, most ez a jutifalat nap végén."</p></div>
            <nav class="next-slide-fake">&gt;</nav>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-alt" id="slider-alt">
        <div class="holder">
            <div class="slide"></div>
            <div class="slide" id="slide-alt">
                <div class="feedback">
                    <nav class="next-slide-fake">&gt;</nav>
                  <div class="feedback-text"><p>"A felolvasott szöveg elindított bennem egy gondolatmenetet, aminek igazán hálás vagyok"</p></div>
                  <nav class="next-slide">
                    <a href="#slide-alt-1">&gt;</a>
                  </nav>
                </div>
            </div>
          <div class="slide" id="slide-alt-1">
            <div class="feedback">
                <nav class="next-slide">
                    <a href="#slide-alt">&lt;</a>
                  </nav>
              <div class="feedback-text"><p>"Rövid idő alatt tartalmas, mély beszélgetés volt."</p></div>
              <nav class="next-slide">
                <a href="#slide-alt-2">&gt;</a>
              </nav>
            </div>
          </div>
          <div class="slide" id="slide-alt-2">
            <div class="feedback">
                <nav class="next-slide">
                    <a href="#slide-alt-1">&lt;</a>
                  </nav>
              <div class="feedback-text"><p>"Kaptam klassz irodalmi szövegeket, remek társaságot, élményt, jó gondolatokat, kikapcsolódást."</p></div>
              <nav class="next-slide">
                <a href="#slide-alt-3">&gt;</a>
              </nav>
            </div>
          </div>
          <div class="slide" id="slide-alt-3">
            <div class="feedback">
                <nav class="next-slide">
                    <a href="#slide-alt-2">&lt;</a>
                  </nav>
                  <div class="feedback-text"><p>"Volt mélysége meg magassága, teljesen el tudtam engedni magam - szóval: köszi! :)"></p></div>
              <nav class="next-slide">
                <a href="#slide-alt-4">&gt;</a>
              </nav>
            </div>
          </div>
          <div class="slide" id="slide-alt-4">
            <div class="feedback">
              <nav class="next-slide">
                <a href="#slide-alt-3">&lt;</a>
              </nav>
              <div class="feedback-text"><p>"Fontos, hogy a lényegében egyforma helyzetben való jelen létezés milyen sok közös pontot tartalmaz, meg hoz elő"</p></div>
              <nav class="next-slide"><a href="#slide-alt-5">&gt;</a>
              </nav>
            </div>
          </div>
          <div class="slide" id="slide-alt-5">
            <div class="feedback">
              <nav class="next-slide">
                <a href="#slide-alt-4">&lt;</a>
              </nav>
              <div class="feedback-text"><p>"...amikor kvázi idegen emberek mondják el a magukét, és hallgatják a másikét okosan, figyelemmel, az valóban működik."</p></div>
              <nav class="next-slide"><a href="#slide-alt-6">&gt;</a>
              </nav>
            </div>
          </div>
          <div class="slide" id="slide-alt-6">
            <div class="feedback">
              <nav class="next-slide">
                <a href="#slide-alt-5">&lt;</a>
              </nav>
              <div class="feedback-text"><p>"Nagyon nagy élmény volt megélni az egymáshoz kapcsolódás kibontakozását."</p></div>
              <nav class="next-slide"><a href="#slide-alt-7">&gt;</a>
              </nav>
            </div>
          </div>
          <div class="slide" id="slide-alt-7">
            <div class="feedback">
              <nav class="next-slide">
                <a href="#slide-alt-6">&lt;</a>
              </nav>
              <div class="feedback-text"><p>"A KarantOn számomra egy kis oázis a sok új "karanténprogram" között. "</p></div>
              <nav class="next-slide"><a href="#slide-alt-8">&gt;</a>
              </nav>
            </div>
          </div>
          <div class="slide" id="slide-alt-8">
            <div class="feedback">
              <nav class="next-slide">
                <a href="#slide-alt-7">&lt;</a>
              </nav>
              <div class="feedback-text"><p>"Annyira köszönöm, hogy csinálod, most ez a jutifalat nap végén."</p></div>
              <nav class="next-slide-fake">&gt;</nav>
            </div>
          </div>
        </div>
    </div>
</div>