<header class="sensible-header">
    <button class="burger-icon" onclick="toggleSideBar()"></button>
    <div class="main-logo"><a href="/"><img src="/assets/icons/main-logo-large-white.png"/></a></div>
    <nav class="main-navigation-parent">
      <ul id="menu" class="main-navigation">
        <li class="menu-item"><a class="menu-link" href="/about/">Rólam</a></li>
        <li class="menu-item"><a class="menu-link" href="/events/">Események</a></li>
        <li class="menu-item"><a class="menu-link" href="/groups/">Csoportok</a></li>
        <li class="menu-item"><a class="menu-link" href="/consult/">Egyéni konzultáció</a></li>
        <li class="menu-item"><a class="menu-link" href="/blogposts/">Blog</a></li>
        <li class="menu-item"><a class="menu-link" href="/contact/">Kapcsolat</a></li>
      </ul>
    </nav>
    <div class="right-side-navigation">
      <a class="social-logo" target="_blank" href="https://www.facebook.com/pages/category/Community/Rudolf-Panka-biblioterapeuta-%C3%B6nismeret-irodalom-263008247482207/"><img src="/assets/icons/facebook-black.svg"></img></a>
      <a class="social-logo" target="_blank" href="https://www.instagram.com/rudolfpanka/"><img class="social-logo" src="/assets/icons/instagram-black.svg"></img></a>
    </div>
  </header>