---

---
<div class="consult-text-and-image-container">
    <div class="consult-text-and-image">
        <img style="display: block; margin-left: auto; margin-right: auto;" src="/assets/img/story/story-title.png">
        <p>Ha van egy célod, amit szeretnél elérni, de úgy érzed, nincsenek hozzá megfelelő eszközeid, és szükséged lenne egy támogató közösségre hozzá, akkor a törtÉNeted közösséget neked találtam ki.</p>
        <p>A törtÉNeted alapja, hogy narratív technikákkal megtámogatva, történetbe ágyazva válsz tudatosabbá azzal kapcsolatban, pontosan mit is szeretnél elérni, hogy ebben ki és mi lehet segítségedre, mik a legyőzendő nehézségek.</p>
        <h2>Mi ez, hogyan épül fel?</h2>
        <p>Egy zárt Facebook közösségbe kerülsz, ahol belépésedkor indul a történeted. Minden hónapban más nagy téma szerint haladunk előre a sztoriban. </p>
        <p>Minden héten három lépésnyit haladsz a történetedben, irányított kérdések mentén. Hétvégére  a történetedhez kapcsolóan kapsz egy kihívást, ami segít a gyakorlatba is átültetni, amit tanultál.</p>
<p>A négyhónapos folyamat végére az irányított kérdésekre adott válaszaidból összeáll egy összefüggő történet - a TE történeted, melyben haladsz a célod felé.</p>
      <p>Minden hónapban két videós workshop keretein belül összegezzük, hogyan segíti a fiktív törtÉNeted a valós szinten is elérni célodat, mit tanultál magadról abban a hónapban. A workshopok visszanézhetőek lesznek, így, ha lemaradtál, semmi gond, tudsz haladni a saját tempódban.</p>
      <p>A kihívás során rendelkezésedre áll egy egyszeri online egyéni konzultáció. Azt javaslom, a kihívás végén vedd igénybe, hogy összegezzük a tapasztalataidat. Természetesen, ha máskor szeretnél élni vele, akkor máskor tartjuk meg.</p>
        <h2>Miért jó?</h2>
        <ul style="line-height: 1.5rem;">
            <li>Segít felismerni a céljaidat és bejárni az odavezető utat.</li>
            <li>Olyan összefüggéseket fogsz találni, amikre eddig nem biztos, hogy volt rálátásod.</li>
            <li>Rengeteget fogsz tanulni magadról, és arról, hogyan kezeled a nehézségeket, kihez fordulhat segítségért, mi fog vissza, mi visz előre</li>
            <li>szórakoztató módon haladsz az utadon</li>
            <li>A folyamat során tanultakat bármikor alkalmazhatod majd a későbbiekben is.</li>
            <li>Rengeteget fogsz tanulni magadról, és arról, hogyan kezeled a nehézségeket, kihez fordulhat segítségért, mi fog vissza, mi visz előre.</li>
        </ul>
        <p>Járulékos pozitívumok:</p>
        <ul style="line-height: 1.5rem;">
            <li>Fejleszted a kreativitásod.</li>
            <li>Tanulsz arról, hogy épül fel egy jó történet.</li>
            <li>Támogató közösségben teszed mindezt, követheted a többiek történetének alakulását is, kibeszélő posztok alatt pedig megindulhat a kötetlen beszélgetést.</li>
        </ul>
        <div style="width: 100%">
            <img class="consult-infographic" src="/assets/img/story/story-explain.png">
                        <h2>Hogyan csatlakozhatok?</h2>
            <p>Szeptember 6-ig [lépj be a Facebook csoportba](https://www.facebook.com/groups/620768235952402). Szeptember 20-ig elköteleződés nélkül nézheted meg, tetszik-e a kihívás, utána eldöntheted, jössz-e tovább.</p>
            <h2>Mennyibe kerül?</h2>
            <p>Egy hónapra 3990 forint a havidíj. A szeptemberi hónap "félhavidíjas, 1990 forint. Ha nem havonta fizetsz, hanem egyben, összesen a négy hónap 11 500 forintba kerül.</p>
            <h2>Meddig tart?</h2>
            <p>A teljes történet négy hónap alatt íródik meg.</p>
         
            <h2>Megkapom PDF formátumú füzetkében a történemet?</h2>
            <p>IGEN, abban az esetben, ha az egész folyamatra, tehát mind a négy hónapra csatlakozol, a folyamat végén egy PDF fájlban (elektronikus formában) megkapod az összefüggő történetedet, melyet bármikor újraolvashatsz és segítségül hívhatsz a magad számára. Így lesz egy saját, különbejáratú történeted, amelyben elértél egy számodra fontos célt. (Ha nem viszed végig a teljes folyamatot, ez a lehetőség nem érhető el a számodra.)</p>
        </div>
        <div style="clear: left; padding-bottom: 3rem;">
        <figure class="consult-top-right-image"><img class="consult-image-format" src="/assets/img/story/story-tematika.png"></figure>
        <h2>Mi a tematika?</h2>
            <ul class="consult-options-list">
                <li><h3>1. hónap: Indulás + alapozás</h3><p>Életre hívod a történeted főszereplőjét, körüljárjuk, mi a célja a főszereplődnek, honnan és mikor indul el.</p></li>
                <li><h3>2. hónap: Cél + segítők</h3><p>Pontosítjuk és jobban körüljárjuk a főszereplőd célját, küldetését. Megnézzük, kik a segítői, milyen külső és belső erőforrásai vannak.</p></li>
                <li><h3>3. hónap: Kudarc és nehézségek</h3><p>Kiderül, milyen nehézségekkel találkozik a főszereplőd a történet során, milyen elakadások és kudarcok érik, és hogyan tud ezekkel megküzdeni.</p></li>
                <li><h3>4. hónap: Eredmények és célba érés</h3><p>A főszereplőd rájön, hogy képes leküzdeni az akadályokat, le is küzdi ezeket, eléri a célját, visszanéz az útjára, összegzi a történetét, és előre néz a továbbiak felé.</p></li>
            </ul>
        </div>

</div>
{% include collapse.html title="Jelentkezem!" content="<iframe src='https://docs.google.com/forms/d/e/1FAIpQLSd5OEgv-c5-fBdWdck2dn2ATqlxMS_6dgJfQpRN7bP_wBpmJQ/viewform?embedded=true' width='100%' height='893' frameborder='0' marginheight='0' marginwidth='0'>Betöltés…</iframe>" %}