---
--- 
@charset "utf-8";

$active-menu-background-color: linear-gradient(180deg,	rgba(6, 133, 201, 0.7), rgba(4, 91, 138, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$main-dark-blue: #045B8A;
$backup-colour: #DEB887;
$color-dark-blue: #1c92d2;
$color-light-blue: #6AB8E2;


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.page-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    position: relative;
}

    header {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
    }

        .burger-icon {
            display: none;
        }


        .sensible-header {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            background: #ECE9E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ECE9E6, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ECE9E6, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
            border-bottom: solid 2px rgba(149, 195, 233, 0.3);
            letter-spacing: 1px;
            font-size: 1.2rem;
            font-family: 'Bebas Neue', cursive;


            .main-logo {
                padding: 10px 0 5px;
                width: 15%;
                display: flex;
                justify-content: center;

                img {
                    width: 92px;
                    height: 92px;
                    border-radius: 50%;

                    &:hover, &:focus {
                        opacity: 0.75;
                    }
                }
            }


            .main-navigation {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0;
                list-style-type: none;


                .menu-item {
                    display: flex;
                    height: 100%;
                    margin-left: 5px;
                    margin-right: 5px;

                    &:hover, &:focus {
                        background-color: #d9ebf1;
                        cursor: pointer;
                    }

                }

                .menu-link, .sub-menu-link {
                    width: 100%;
                    height: 100%;
                    padding: 0 20px 0 20px;
                    text-decoration: none;
                    line-height: 3;
                    color: #8c8c8c;
                    font-weight: bold;
                }

                .dropdown-menu-item {
                    display: flex;
                    width: 100%;
                }


                .dropdown-menu-item:hover > .sub-menu-link, .dropdown-menu-item:active > .sub-menu-link, .dropdown-menu-item:focus > .sub-menu-link {
                    background: $active-menu-background-color;
                    color: white;
                }

                .dropdown-menu {
                    display: none;
                }

                .dropdown-menu-item:hover, .dropdown-menu-item:active, .dropdown-menu-item:focus {
                    background: $active-menu-background-color; 
                }
            }

            .current {
                color: white !important;
                background: $active-menu-background-color;
            }

            .current-sibling {
                color: white !important;
                background: $active-menu-background-color;
            }
        
            
            .right-side-navigation {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding-right: 20px;
                list-style-type: none;
                width: 15%;
            }

            .social-logo {
                border: none;
                background: transparent;
                margin: 5px 10px;
                opacity: 0.5;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
    
    @media screen and (min-width: 50em) {

        #aboutme:hover > .dropdown-menu, #groups:hover > .dropdown-menu, #events:hover > .dropdown-menu, #blog:hover > .dropdown-menu {
            display: block;
            position: absolute;
            top: 80%;
            background-color: #d9ebf1;
            margin-top: -0.3rem;
            padding-left: 0;
            list-style-position: inside;
            list-style-type: none;
            text-align: left;
        }

        .opener {
            display: none;
        }
    }

    .title-with-source-edit h1 {
        text-align: center;
        border-bottom: solid 2px #20B2AA;
        font-size: 2.2rem;
        margin-top: -1rem;
        margin-bottom: 2rem;
        font-family: Bebas Neue, cursive;
        letter-spacing: 1.5px;
        opacity: 0.7;
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        background-color: #FFFAFA;
        justify-content: center;
        margin-top: 5%;
    }
        .content {
            width: 60%;
            margin: 4rem auto 3rem;

            h2, h3, h4 {
                position: relative;
                margin-top: 20px;
                margin-bottom: 20px;
                font-family: Bebas Neue, cursive;
                letter-spacing: 1.5px;
                opacity: 0.7;

            }

            p {
                margin: 20px auto;
                line-height: 1.5;
                text-align: justify;
                letter-spacing: -1px;
            }

            a.anchor-symbol {
                text-decoration: none;
                visibility: hidden;
            }

            :target::before {
                content: "";
                display: block;
                height: 110px; /* fixed header height*/
                margin: -110px 0 0; /* negative fixed header height */
            }
        }

        .blogpost-ul {
            list-style-type: none;
            padding-left: 0;
        }

        .blogpost-li {
            border-radius: 12px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .blogpost-li a {
            text-decoration: none;
        }

        .blogpost-img {
            display: inline-block;
            width: 48px;
            height: 48px;
            margin-right: 20px;
        }

        h2.post-title {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
        }

        h2.post-title a {
            color: #B0C4DE;

            &:hover, &:focus {
                color: #778899;
            }
        }


    footer {
        display: flex;
        justify-content: center;
        background: $active-menu-background-color;
        color: white;
        height: 3rem;
    }

    .meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px 0 10px;
    }

    .bottom-nav {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .bottom-nav-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 10px 0 10px;
            height: 100%;
        }

        .bottom-nav-item a {
            text-decoration: none;
            color: white;
        }

        .bottom-nav-item:hover {
            background-color: $color-light-blue;
            cursor: pointer;
        }

.mailchimp-holder {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
}

/* styling for "groups" page - main .content, p, and .title-with-source-edit are modified in-line! */

.opengroups-right, .opengroups-left {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.opengroups-right {
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.opengroups-left {
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.opengroup-text, .closedgroup-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: #f2f2f2;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.opengroup-text h2, .closedgroup-text h2 {
    opacity: 1;
    font-size: 2rem;
}

.opengroup-text {
    padding-left: 4rem;
}

.closedgroup-text {
    padding-right: 4rem;
    text-align: right;
}

.opengroup-image {
    width: 40%;
}

.closedgroup-image {
    width: 40%;
}

.opengroup-image img, .closedgroup-image img {
    width: 100%;
    height: 100%;
}

.group-event-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
}

.calendar-link {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

}

.calendar-link:hover, .calendar-link:focus {
    opacity: 0.7;
}

.link-button {
    background: #045B8A;
    color: white;
    font-family: Bebas Neue, cursive;
    letter-spacing: 1px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
}

/* styling for "events" and "about" pages - can affect collapsibles and titles elsewhere! */

h1 ~ p img, .collapse-container + p img, h2#bemutatkozás + p img {
    width: 45%;
    float: right;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border-radius: 12px;
}

h2#bemutatkozás + p img {
    width: 35%;
}

.title-with-source-edit + p img, .collapse-container + p img {
    margin-top: 2rem;
}

#bemutatkozás + p img {
    padding: 8px;
    border: 4px solid rosybrown;
    border-radius:12px;
}

h1 {
    border-bottom: solid 2px rgba(188,143,143, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-family: Bebas Neue, cursive;
    letter-spacing: 1.5px;
    opacity: 0.7;
}


.upcoming-events-container {
    display: flex;
    flex-direction: column;
}

.single-event-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 12px;
    background: white;
}

[class^="single-event-title"] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    width: 25%;
    border-top-right-radius: 90%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.single-event-title-workshop {
    background: #a23a39;
}

.single-event-title-workshop:before {
    content: url(/assets/icons/workshop.svg);
    margin-bottom: 0.5rem;
    margin-right: 1rem;        
}

.single-event-title-opengroup {
    background: #499a9b;
}

.single-event-title-opengroup:before {
    content: url(/assets/icons/open-group.svg);
    margin-right: 1rem;
}

.single-event-title-closedgroup {
    background: #bd8747;
}

.single-event-title-closedgroup:before {
    content: url(/assets/icons/closed-group.svg);
    margin-right: 1rem;
}

[class^="single-event-title"] title {
    position: absolute;
    bottom: 20%;
    display: block;
    font-family: Bebas Neue, cursive;
    letter-spacing: 1.2px;
    font-size: 1.5rem;
    color: white;
}

.single-event-description { 
    flex: 1 1 auto;
    width: 50%;
    background: white;
    font-family: Montserrat;
}

.single-event-description p {
    opacity: 0.65;
    padding-left: 20px;
    padding-right: 20px;
}

.single-event-description title {
    display: block;
    font-family: Bebas Neue, cursive;
    color: black;
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding-left: 20px;
    padding-top: 20px;
}

.single-event-link {
    text-decoration: none;
    font-weight: bold;
} 

[class^="single-event-button"] {
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-family: Bebas Neue, cursive;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 20px;
}

.single-event-button-workshop {
    background: #F3A0A0;
    color: #A23939;
}

.single-event-button-opengroup {
    background: #AFE1E1;
    color: #499B9B;
}

.single-event-button-closedgroup {
    background: #FFDCB3;
    color: #bd8747;
}

.single-event-image {
    display: flex;
    justify-content: center;
    align-items: center;        
    width: 25%;
}

.single-event-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

/* styling for events page ends - collapsibles start here */

.collapsible {
	display: block;
    cursor: pointer;
    width: 50%;
    background: rgba(188,143,143, 1);
    border: none;
    border-bottom: solid 2px #f8f0ff;
    text-align: center;
    outline: none;
    word-wrap: break-word;


    &:hover {
        opacity: 0.8;
    }

    p {
        color: white;
		display: inline-block;
        letter-spacing: 1.2px;
        font-family: Bebas Neue, cursive;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.consult-text-and-image + .collapse-container button.collapsible {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 50%;

    p {
		font-size: 1.3rem;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 1rem;
    }
}

.consult-text-and-image + .collapse-container button.collapsible + .collapsible-content {
    margin-left: auto;
    margin-right: auto;

}

.collapsible-content {
	display: none;
    overflow: hidden;
    width: 60%;
	border: solid 2px #f8f0ff;
	border-top: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
	padding: 0 18px;
}

/* homepage elements */

.index-main {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}

.landing-page {
    width: 100%;
    height: 80vh;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(255,255,255,0.3);
        background-blend-mode: lighten;
        background-image: url(/assets/img/therapy-office.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none;
    }
}

.hover-nav, .hover-nav-blog {
    display: flex;
    flex-direction: column;
    width: 22.5%;
    position: absolute;
    left: 0;
    background: $main-dark-blue;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.2px;
    text-align: center;
    z-index: 2;

    p {
        color: white;
        font-size: 1.5rem;
    }

    img {
        margin-right: 1rem;
        transform: translateY(0.2rem);
    }

    a {
        text-decoration: none;
    }
}

.hover-nav {
    top: 25%;
}

.hover-nav-blog {
    top: 45%;
}

.hover-nav-content, .hover-nav-content-blog {
    max-height: 0;
    transition: max-height 0.1s ease-in;

    p {
        display: none;
    }

    label {
        display: none;
    }
}

.hover-nav:hover .hover-nav-content, .hover-nav-blog:hover .hover-nav-content-blog {
    max-height: 150px;
    background: #6AB8E2;
    border-bottom-right-radius: 12px;
    padding: 1rem;

    p {
        display: block;
        font-size: 1.2rem;
    }

    label {
        display: inline-block;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.hover-nav:hover ~ .hover-nav-blog {
    top: 65%;
}

.hover-nav-blog label {
    cursor: pointer;
}

.hover-nav-blog:hover .hover-nav-content-blog > p {
    font-family: Montserrat;
    font-size: 1rem;
}

.landing-text-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    top: 20%;
    right: 0;
    width: 60%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, rgba(140, 140, 140, 0.7) 15%);
}

.landing-text {
    color: 	#f2f2f2;
    text-align: center;
    font-weight: bold;
    width: 70%;
    margin-right: 2rem;

    title {
        display: inline-block;
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-top: 1rem;
        position: relative;
    }
}

.panka-landing-image-mobile {
    display: none;
}

.panka-landing-image-container {
    display: flex;
    justify-content: flex-start;
    width: 30%;

    img {
        border-radius: 50%;
        box-shadow: 2px 2px 6px 2px #404040;
        width: 80%;
        height: 80%;
    }
}


.cta-purple {
    display: flex;
    position: absolute;
    top: 60%;
    right: 15%;
    margin: auto;
    margin-top: 3rem;
    background: #1c92d2;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 0.25rem $active-menu-background-color;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;

    .button-text {
        color: white;
        font-family: Bebas Neue, cursive;
        letter-spacing: 1.4px;
        font-size: 1.3rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
    }

    &:hover {
        background: #6AB8E2;
        cursor: pointer;
    }
}

.sensible-container {
    background-color: rgba(135,206,250,0.5);
    background-blend-mode: lighten;
    background-image: url(/assets/img/therapy-office.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: black;
}

.sensible-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.sensible-content {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 80%;
    height: 50%;
    padding: 25px 0 25px;
}

.info-block {
    display: flex;
    flex: 1 1 20%;
    width: 20%;
    max-height: 20%;
    background: rgba(255,255,255,0.8);
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    box-shadow: 2px 2px 8px 6px rgba(0, 0, 0, 0.15);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;

    .info-block-image-holder {
        display: flex;
        align-items: center;
        width: 25%;
        margin-right: 2rem;

        img {
            width: 80px;
            height: 80px;
            border-radius: 12px;
        }
    }

    .info-block-text-holder {
        width: 75%;

        label {
            font-family: Bebas Neue, cursive;
            font-size: 1.5rem;
            letter-spacing: 1px;
            color: #8c8c8c;
        }
    
        p {
            opacity: 0.65;
            font-size: 0.85rem;
        }
    }

    div a {
        text-decoration: none;
        color: $color-dark-blue;

        &:hover, &:focus {
            opacity: 0.65
        }
    }
}

.info-block-large {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  border: 1px solid #f2f2f2;
  border-radius: 12px;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
  padding: 10px;
  font-family: 'Montserrat', sans-serif;

  img {
      width: 80%;
      height: 60%;
      min-width: 150px;
      min-height: 100px;
      padding-right: 20px;
      border-top-right-radius: 25%;
      border-bottom-right-radius: 25%;
      margin-right: 1rem;
  }

  label {
    font-family: Bebas Neue, cursive;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #8c8c8c;
  }

  p {
      font-size: 1rem;
      opacity: 0.65;
      max-width: 95%;
  }

  a {
      text-decoration: none;
      color: $color-dark-blue;

      &:hover, &:focus {
          opacity: 0.65;
      }
  }
}

/* not used right now

.sensible-intro {
    display: flex;
    justify-content: center;
    background: rgba(8, 52, 255, 0.85);
    width: 100%;
    height: 50%;
}

.sensible-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $color-dark-blue;
    width: 80%;
    height: 100%;
    align-self: center;
    padding-left: 10%;

    img {
        float: right;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-left: solid 20px rgba(0, 0, 0, 0.25); 
    }
}

.sensible-text {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 80%;
    margin-right: 2rem;
    padding: 25px 0;
    align-items: center;
    text-align: center;
    color: white;

    title {
        display: block;
        width: 50%;
        font-size: 1.5rem;
        font-weight: bold;
    }

    p {
        display: block;
        width: 80%;
        opacity: 0.7;
    }
}

.intro-background {
    width: 100%;
    align-self: center;
    background-color: white;
    opacity: 0.7;
    padding: 1rem;
}

.intro-text {
    width: 75%;
    margin: auto;
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    color: black;
    opacity: 1;
    text-align: center;
}

*/

.slider-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 550px;
    padding: 30px;
    background: white;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(240,248,255,0.5);
        background-blend-mode: lighten;
        background-image: url(/assets/img/therapy-office.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none;
    }
}

.feedback-title {
    display: block;
    align-self: center;
    min-width: 35%;
    padding: 20px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 2px 2px 8px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    letter-spacing: 1px;
}

#container-title {
    color: #8c8c8c;
    margin-bottom: 25px;
}

#slider-title {
    color: white;
    background: $active-menu-background-color;
}

.holder {
    display: flex;
    flex-direction: row;
    width: 300%;
    z-index: 1;
}

.slider-alt {
    display: none;
}

.slider {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  .slide {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 60%;
    margin: auto;
    border-radius: 12px;
    text-align: center;
  }

  #slide-1, #slide-2 {
      opacity: 0;
      transition: opacity 2s;

      &:target {
      opacity: 1;
    }
  }

  .invisible-slide {
      opacity: 0;
      transition: opacity 2s;
  }

  #slide-0:target {
      opacity: 1;
      transition: opacity 2s;
  }

  .slider-nav {
    text-align: center;
    margin: 0;
  }

  .next-slide a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    color:  rgba(4, 91, 138, 0.7);

    &:hover, &:focus {
        color: $color-light-blue;
        cursor: pointer;
    }
  }

  .next-slide-fake {
    visibility: hidden;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.4rem;
    cursor: initial;       

  }

  .feedback-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 27.5%;
      height: 100%;
      padding: 2rem;
      background: -webkit-linear-gradient(360deg, rgba(43, 50, 178, 0.7), rgba(20, 136, 204, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
      background: $active-menu-background-color;
      border-radius: 12px;
      box-shadow: 6px 6px 10px 1px rgba(188, 143, 143, 0.3);

      p {
        color: white;
        letter-spacing: -1px;
        align-self: center;
        font-size: 1rem;
        font-style: italic;
      }

      label {
        color: white;
        font-family: Bebas Neue, cursive;
        letter-spacing: 1px;
        margin-bottom: 1rem;
      }
  }

  .dot {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: $active-menu-background-color;
    margin: auto;
    overflow: hidden;
    text-indent: -9999px;
    border-radius: 50%;
  }

  .go-to-all-feedback {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      color: white;
      background-color: purple;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 12px;
      z-index: 1;
      cursor: pointer;

      p {
          margin-left: auto;
          margin-right: auto;
          font-weight: bold;
          font-size: 1.1rem;
          letter-spacing: 1px;
          font-family: Bebas Neue, cursive;
      }

      a {
          color: white;
          font-size: 1.1rem;
          text-decoration: none;
      }

      &:hover {
        background: #A32FA3;
      }
  }

  /* consult-me-page styling */

.consult-top-right-image {
    float: right;
    width: 50%;
    margin-right: 0;
}

.consult-image-format {
    width: 100%;
    border: solid 1px #ececec;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
}

.consult-feedback-container {
    display: flex;
    width: 90%;
    height: 53%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/assets/img/consult/elephant.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px #ececec;
    border-radius: 12px;
}

.consult-feedback {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15rem;
    margin-top: 1rem;
    opacity: 0.5;

    p {
        text-align: center;
        font-style: italic;
        font-size: 1rem;
    }
}

.consult-feedback-person {
    font-family: Bebas Neue, cursive;
    letter-spacing: 1px;
    opacity: 1;
    text-align: center;
    font-size: 1.3rem;
}

#disqus_thread {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* groups page styling */

.groups-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 45%;
    flex: 1 1 auto;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;

}

.groups-title {
    background: $main-dark-blue;
    border: solid 1px #8c8c8c;
    padding: 10px;
    padding-left: 20px;


    h3 {
        color: white;
        opacity: 1;
        font-size: 1.5rem;
    }
}

.groups-name {
    padding: 20px;
    background: white;
    border: solid 1px #8c8c8c;
    border-top: none;

    &:hover, &:focus {
        background: $color-light-blue;
        color: white;
    }
}

.groups-container a {
    text-decoration: none;
    color: #8c8c8c;
    font-weight: bold;
}

/* not used right now

  .what-is-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 50px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(153.5deg, rgba(30, 144, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 50%);
  }

  .what-is-text {
    width: 30%;
    height: 40%;
    margin: auto;
    background:rgba(30, 144, 255, 0.5);
    border-radius: 12px;
    box-shadow: 6px 6px 18px 6px rgba(62,116,171,1);
    padding: 15px;
    position: absolute;
    bottom: 50px;
    right: 150px;
    color: white;
    text-shadow: 0.5px 0.5px #000000;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    line-height: 1.6;

    p {
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }

  .what-is-image {
      position: absolute;
      top: 50px;
      left: 150px;
      width: 30%;
      height: 40%;

    img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        box-shadow: 6px 6px 18px 6px rgba(62,116,171,1);
    }
  }

  */

@media only screen and (max-width: 50em) {

    .sensible-header {
        height: 10vh;

        .main-logo {
    
             img {
                height: 48px;
                width: 48px;
            }
        }

        .right-side-navigation {
            width: auto;
        }
    }
    
    #menu {
        display: none;
        top: 0vh;
    }

    .dropdown#menu {
        display: block;
        position: absolute;
        top: 10vh;
        left: 0;

        .main-navigation {
            display: block;
            margin-top: 0;
            padding-bottom: 10px;
            overflow-y: auto;
            max-height: 100vh;
            min-width: 100vw;
            background: linear-gradient(to right, #ECE9E6, #FFFFFF, #ECE9E6);
            border-bottom: solid 2px rgba(149, 195, 233, 0.3);
        }
    }

    .sensible-header .main-navigation .menu-item {
        margin-left: 0;
        margin-right: 0;
    }

    #aboutme, #groups, #events {
        position: relative;
    }

    #aboutme.opened > .dropdown-menu, #groups.opened > .dropdown-menu, #events.opened > .dropdown-menu, #blog.opened > .dropdown-menu {
        display: block;
        width: 100%;
        list-style-type: none;
        padding-left: 0;
    }

    #aboutme, #groups, #events, #blog {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #aboutme .menu-link, #groups .menu-link, #events .menu-link, #blog .menu-link {
        width: 70%;
    }

    .opener {
       width: 30%;
       background: transparent;
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
       align-items: center;
       padding-right: 15px;
       padding-bottom: 30px;

       img {
           transform: rotate(90deg) translateX(1rem);
       }
    }

    .opener.clicked img {
        transform: rotate(270deg) translateX(-1rem);
    }

    .current + .opener {
        background: $active-menu-background-color;

        img {
            filter: brightness(0) invert(1);
        }
    }

    .burger-icon  {
        display: block;
        border: none;
        font-size: 2.5rem;
        background-color: transparent;
        color: white;
        opacity: 0.5;
        transition: opacity .25s;
        cursor: pointer;


        &:before {
            content: url(/assets/icons/dehaze-black-18dp.svg);
        }

        &:focus {
            outline: none;
            background-color: $color-light-blue;
        }
    }

    main {
        width: 100%;
    }

    .content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .hover-nav, .hover-nav-blog {
        width: 40%;
    
        p {
            font-size: 0.9rem;
        }
    
        img {
            margin-right: 1rem;
            transform: translateY(0.2rem);
        }
    }
    
    .hover-nav {
        top: 10%;
    }
    
    .hover-nav-blog {
        top: 20%;
    }

    .hover-nav-img {
        display: none;
    }
    
    .hover-nav-content, .hover-nav-content-blog {
        max-height: 0;
        transition: max-height 0.1s ease-in;
    
        p {
            display: none;
        }
    
        label {
            display: none;
        }
    }

    .hover-nav-blog:hover .hover-nav-content-blog p {
        font-family: Montserrat;
        font-size: 0.65rem;
    }

    .hover-nav:hover .hover-nav-content p {
        font-size: 0.8rem;
    }
    
    .hover-nav:hover .hover-nav-content, .hover-nav-blog:hover .hover-nav-content-blog {
    
        label {
            font-size: 1rem;
        }
    }
    
    .hover-nav:hover ~ .hover-nav-blog {
        top: 45%;
    }
    
    .landing-text-container {
        position: relative;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
        width: 100%;
        background-color: rgba(0,0,0,0.2);
    }
    
    .landing-text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        text-shadow: none;
    
        title {
            font-size: 1.4rem;
            margin-top: 1rem;
        }
    }

    .panka-landing-image-mobile {
        display: block;
        position: absolute;
        top: 5%;
        right: 20%;
        width: 20%;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }
    
    .panka-landing-image-container {
        display: none;
    }
    
    .cta-purple {
        top: 70%;
        margin-top: 2rem;
        width: 70%;
    }

    .sensible-content {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    .info-block {
        width:  100%;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;

        div a {
            font-size: 0.85rem;
        }
    }

    .info-block-large {
        width: 100%;

        label:before {
            content: '';
            display: block;
            background-image: url(/assets/img/info-block-large.png);
            background-size: 100% 150px;
            width: 200px;
            height: 150px;
            border-radius: 12%;
            margin-bottom: 1.5rem;
        }

        img {
            display: none;
        }

        p, a {
            font-size: 0.85rem;
            text-align: justify;
        }
    }

    .consult-feedback-container {
        display: flex;
        width: 100%;
        max-height: 300px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(90deg, #f8f8f8 100%, #dedede 0%); 
        overflow-y: scroll;
    }

    .consult-feedback {
        margin-bottom: auto;
        margin-top: auto;
    }

    .slider-wrap {
        padding: 0;
        padding-top: 2rem;
        height: 450px;
    }

    .slider {
        display: none;
    }

    .slider-alt {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feedback {
        margin-top: auto;
        margin-bottom: auto;
    }

    .feedback-text {
        width: 100%;
        height: 100%;
        padding-top: 4rem;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 4rem;
    }

    .slide {
        min-width: 100vw;
        justify-content: space-between;
    }

    div[id^='slide-alt-'] {
        opacity: 0;
        transition: opacity 2s;
  
        &:target {
        opacity: 1;
      }
    }

    #slide-alt:target {
        opacity: 1;
        transition: opacity 2s;
    }
  
    .invisible-slide {
        opacity: 0;
        transition: opacity 2s;
    }

    .collapsible, .consult-text-and-image + .collapse-container button.collapsible {
        width: 100%;
    }

    h1 {
        margin-top: -1rem;
    }

    .meta {
      font-size: 0.7rem;  
    }

    .single-event-image {
        display: none;
    }
}

@media only screen and (max-width: 30em) {

    .landing-page {
        height: 100vh;
    }
    
    .panka-landing-image-mobile {
        top: 10%;
        right: 10%;
        width: 35%;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .events-list {
        background-image: none;
        position: relative;

        &:before {
            content: url(/assets/icons/calendar-grey.svg/);
            filter: invert(1);
            padding-right: 10px;
            position: absolute;
            top: 3%;
            left: 15%;
        }
    }

    .events-aligner {
        color: #8c8c8c;
        padding: 10px;
        height: auto;
        font-size: 1.8rem;
    }

    [class^="single-event-title"] {
        display: none;
    }

    .single-event-description title {
        position: relative;
        color: white;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        padding-right: 20px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .single-event-title-workshop + .single-event-description title {
        background: #a23a39;

        &:before {
            position: absolute;
            display: inline-block;
            content: url(/assets/icons/workshop-mobile.svg);
            left: 7.5%;
            top: 30%;
        }
    }

    .single-event-title-opengroup + .single-event-description title {
        background: #499a9b;

        &:before {
            position: absolute;
            display: inline-block;
            content: url(/assets/icons/open-group-mobile.svg);
            left: 7.5%;
            top: 30%;
        }
    }

    .single-event-title-closedgroup + .single-event-description title {
        background: #bd8747;

        &:before {
            position: absolute;
            display: inline-block;
            content: url(/assets/icons/closed-group-mobile.svg);
            left: 7.5%;
            top: 30%;
        }
    }

    [class^=single-event-button] {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}