{% for article in site.articles %}
  {% if page.url == article.url %}
    {% assign current_article = article %}
  {% endif %}
{% endfor %}

<!DOCTYPE HTML>
<html lang="hu">
  {% seo %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.url != "/" and page.url != "/index" %}
        {{ current_article.title }} - {{ site.data.basic_info.name }}
      {% else %}
        {{ site.data.basic_info.name }}
      {% endif %}
    </title>
    <meta property="og:title" content="{{ site.data.basic_info.name }}" />
    <meta property="og:locale" content="hu" />
    <meta property="og:url" content="{{ site.data.basic_info.page_url }}" />
    <meta property="og:site_name" content="{{ site.data.basic_info.name }}" />
    <meta name="theme-color" content="{{ site.data.colors.deep_purple }}" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/favicon.svg" color="#3bc3a3" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-76x76.png" type="image/png" sizes="76x76" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-120x120.png" type="image/png" sizes="120x120" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-152x152.png" type="image/png" sizes="152x152" />
    <link rel="canonical" href="{{ site.data.basic_info.page_url }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/search.css" />
  </head>
  <body> 
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
      <div class="page-wrapper">
        {% include header.html %}
        <main class="index-main">
          <div class="index-page">
            <div class="panka-container">
              <div class="panka">
              <title>Rudolf Panka vagyok, irodalomterapeuta</title><p>Life’s too short for bad books – but with a new book published every 30 seconds, it can be hard to know where to start. That’s why we set up a bibliotherapy service: to guide you to life-changing, eye-opening but often elusive works of literature, both past and present, the books that truly have the power to enchant, enrich and inspire.</p>
                <button class="cta-purple"><a target="_blank" href="http://m.me/263008247482207"><label class="button-text">Írj nekem Messengeren!</label></a></button>
              </div>
            </div>
            <div class="panka-image-container">
              <img src="/assets/img/panka_index.jpg">
            </div>
          </div>
          <div class="sensible-container">
            <div class="sensible-section">
              <div class="sensible-content">
                <div class="info-block"><div class="info-block-image-holder"><img src="/assets/img/what-is.webp"></div><div class="info-block-text-holder"><label>Önismereti csoport</label><p>Játsszunk együtt, és ismerjük meg önmagunk! Life’s too short for bad books – but with a new book published every 30 seconds, it can be hard to know where to start.</p><a class="info-block-link" href="#">Katt ide! &gt;</a></div></div>
                <div class="info-block"><div class="info-block-image-holder"><img src="/assets/img/library.jpg"></div><div class="info-block-text-holder"><label>Booktion!</label><p>Játsszunk együtt, és ismerjük meg önmagunk! Life’s too short for bad books – but with a new book published every 30 seconds, it can be hard to know where to start.</p><a href="#">Katt ide! &gt;</a></div></div>
                <div class="info-block"><div class="info-block-image-holder"><img src="/assets/img/talking.jpg"></div><div class="info-block-text-holder"><label>Egyéni konzultáció</label><p>Játsszunk együtt, és ismerjük meg önmagunk! Life’s too short for bad books – but with a new book published every 30 seconds, it can be hard to know where to start.</p><a href="#">Katt ide! &gt;</a></div></div>
              </div>
              <div class="sensible-content">
                <div class="info-block-large"><div><img src="/assets/img/what-is.webp"></div><div><label>Önismereti csoport</label><p>Játsszunk együtt, és ismerjük meg önmagunk! Life’s too short for bad books – but with a new book published every 30 seconds, it can be hard to know where to start. That’s why we set up a bibliotherapy service: to guide you to life-changing, eye-opening but often elusive works of literature, the books that truly have the power to enchant, enrich and inspire.</p><a href="#">Itt többet is megtudhatsz &gt;</a></div></div>
              </div>
            </div>
          </div>
          {% include feedback.html %}
        </main>
        <footer>
            <div class="meta">
              {% assign current_year = 'now' | date: '%Y' %}
              {% if current_year != '2020' %}
                Copyright © 2020 - {{ current_year }} Rudolf Panka
              {% else %}
                Copyright © 2020 Rudolf Panka
              {% endif %}
            </div>
        </footer>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  <script src="/assets/javascripts/active-highlight.js"></script>
  <script src="/assets/javascripts/list-collapse.js"></script>
  <script src="/assets/javascripts/search-input.js"></script>
  <script src="/assets/javascripts/top-menu.js"></script>
  <script src="/assets/javascripts/code-collapse.js"></script>
  <script src="/assets/javascripts/slider.js"></script>
</html>
