---

---
{% for article in site.articles %}
  {% if page.url == article.url %}
    {% assign current_article = article %}
  {% endif %}
{% endfor %}

<!DOCTYPE HTML>
<html lang="hu">
  {% seo %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.url != "/" and page.url != "/index" %}
        {{ current_article.title }} - {{ site.data.basic_info.name }}
      {% else %}
        {{ site.data.basic_info.name }}
      {% endif %}
    </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166928727-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-166928727-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-59CNMPP');</script>
    <!-- End Google Tag Manager -->
    <meta property="og:title" content="{{ site.data.basic_info.name }}" />
    <meta property="og:locale" content="hu" />
    <meta property="og:url" content="{{ site.data.basic_info.page_url }}" />
    <meta property="og:site_name" content="{{ site.data.basic_info.name }}" />
    <meta name="theme-color" content="{{ site.data.colors.deep_purple }}" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/favicon.svg" color="#3bc3a3" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-76x76.png" type="image/png" sizes="76x76" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-120x120.png" type="image/png" sizes="120x120" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-152x152.png" type="image/png" sizes="152x152" />
    <link rel="canonical" href="{{ site.data.basic_info.page_url }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/search.css" />
  </head>
  <body> 
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59CNMPP"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
      <div class="page-wrapper">
        {% include header.html %}
        <main class="index-main">
          <div class="landing-page">
            <div class="panka-landing-image-mobile">
              <img src="/assets/img/panka_index.jpg">
            </div>
            <div class="landing-text-container">
              <div class="panka-landing-image-container">
                <img src="/assets/img/panka_index.jpg">
              </div>
              <div class="landing-text">
                <title>Rudolf Panka vagyok, irodalomterapeuta</title>
                <p>A legkülönfélébb irodalmi műveket választom ki ahhoz, hogy segítségükkel elkezdhesd a saját életed történetét írni, aminek te vagy a főszereplője! Legyen szó egyéni konzultációról, önismereti csoportról vagy workshopról, a szövegek és én leszünk társaid az úton önmagadhoz!</p>
              </div>
            </div>
            <a target="_blank" href="http://m.me/263008247482207"><button class="cta-purple"><p class="button-text">Írj nekem Messengeren!</p></button></a>
            {% assign next_event = site.events.first %}<div class="hover-nav"><p><img class="hover-nav-img" src="/assets/icons/calendar.svg/">Következő esemény</p><a href="{{ next_event.url }}"><div class="hover-nav-content"><label>{{ next_event.title }}</label><p>Időpont: {{ next_event.event_date | date: '%Y. %m. %d., %H:%M' }}</p></div></a></div>
            {% assign latest_blog = site.posts.first %}<div class="hover-nav-blog"><p><img class="hover-nav-img" src="/assets/icons/post_add-white.svg/">Legújabb blogposzt</p><a href="{{ latest_blog.url }}"><div class="hover-nav-content-blog"><label>{{ latest_blog.title }}</label><p>{{ latest_blog.excerpt | truncatewords: 8 }}</p></div></a></div>
            <div class="hover-nav-facebook"><p><img class="hover-nav-img" src="/assets/icons/facebook.svg/">Kék Könyvtárszoba</p><a href="https://www.facebook.com/groups/1063476370667620/"><div class="hover-nav-content-facebook"><p>Csatlakozz a Kék Könyvtárszoba Facebook-csoportomhoz!</p></div></a></div>
          </div>
          <div class="sensible-container">
            <div class="sensible-section" id="sensible-content">
              <div class="feedback-title" id="container-title">Mire van szükséged?</div>
              <div class="sensible-content">
                <div class="info-block"><div class="info-block-image-holder"><img src="/assets/img/info-block-image-1.png"></div><div class="info-block-text-holder"><label>Önismereti csoport</label><p>Csatlakozz nyitott vagy zárt irodalomterápiás önismereti csoportjaimhoz, ha szeretnél egy mélyebb folyamat során rálátni saját működési módjaidra, elakadásaidra!</p><a class="info-block-link" href="/csoportok/#event_calendar">Katt ide! &gt;</a></div></div>
                <div class="info-block"><div class="info-block-image-holder"><img src="/assets/img/info-block-image-2.png"></div><div class="info-block-text-holder"><label>Egyéni konzultáció</label><p>Jelentkezz be egyéni irodalomterápiás konzultációra, ha igényeidre és problémáidra szabott segítő beszélgetésre van szükséged. Személyesen neked választott irodalmi szöveggel!</p><a href="/konzultacio/">Katt ide! &gt;</a></div></div>
                <div class="info-block"><div class="info-block-image-holder"><img src="/assets/img/info-block-image-3.png"></div><div class="info-block-text-holder"><label>Workshopok</label><p>Ha játékos és kreatív gyakorlatok során edzenéd önreflexiós képességedet, ahol egy-egy téma vagy szöveg van előtérben, az irodalomterápiás workshopjaimat ajánlom neked!</p><a href="/csoportok/#event_calendar/">Katt ide! &gt;</a></div></div>
              </div>
              <div class="sensible-content">
                <div class="info-block-large"><div><img src="/assets/img/info-block-large.png"></div><div><label>Mi is az a biblioterápia?</label><p>A biblioterápia vagy irodalomterápia az irodalmi szövegek erejével inspirál, hogy ráláss saját működési módjaidra, akár a magánéletedről, karrieredről, kapcsolataidról, vagy önbecsülésedről van szó. A saját válaszaidat csak te tudod megtalálni a kérdéseidre - a szöveg és én pedig támogatunk ezen az úton.</p><a href="/rolam/#mi-is-az-a-biblioter%C3%A1pia">Itt többet is megtudhatsz &gt;</a></div></div>
              </div>
            </div>
          </div>
          <div class="whathappens-container"><title>Mi fog történni veled egy irodalomterápiás foglalkozásomon?</title></div>
          <div class="whathappens-container">
            <div class="whathappens-text">
              <ul>
                <li>
                  <label>Közösségi élményben lesz részed</label>
                  <p>Megéled a résztvevők közötti hasonlóságokat és tanulsz a különbözőségeitekből.</p>
                </li>
                <li>
                  <label>Kilépsz a komfortzónádból</label>
                  <p>Váratlan kihívásokkal nézel szembe, amelyek lendületet adnak a változáshoz, amit szeretnél elérni.</p>
                </li>
              </ul>
            </div>
            <div class="community-exp-image"><img src="/assets/img/kozossegi-elmeny.jpg"></div>
          </div>
          <div class="whathappens-container">
            <div class="community-exp-image"><img src="/assets/img/kreativ-energiak.jpg"></div>
            <div class="whathappens-text">
              <ul>
                <li>
                  <label>Felszabadítod a kreatív energiáidat</label>
                  <p>Nemcsak a szövegek erejét mozgósítjuk, hanem egyéb művészetterápiás eszközök is előkerülnek, hogy felszabadítsuk gyermeki, játékos éned.</p>
                </li>
                <li>
                  <label>Új szemmel fogsz nézni az irodalomra</label>
                  <p>Olyan megközelítéssel fogsz kapcsolódni ezekhez a művekhez, ahogy eddig még soha. </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="whathappens-container">
            <div class="whathappens-text">
              <ul>
                <li>
                  <label>Haladsz önismereti utadon</label>
                  <p>Az irodalmi szövegek, valamint a többiektől kapott visszajelzések váratlan felismerésekhez vezetnek. Mindez abban segít, hogy olyan életet élj, amilyet te szeretnél.</p>
                </li>
              </ul>

            </div>
            <div class="community-exp-image"><img src="/assets/img/onismereti-ut.png"></div>
          </div>
          <div class="whathappens-container">
            <div class="whathappens-cta">
              <p>Belevágnál?</p>
              <a href="/csoportok/#event_calendar"><button class="button-to-event-calendar">Jelentkezz a következő csoportomra!</button></a>
            </div>
          </div>
          {% include feedback.html %}
        </main>
        <footer>
            <div class="meta">
              {% assign current_year = 'now' | date: '%Y' %}
              {% if current_year != '2020' %}
                Copyright © 2020 - {{ current_year }} Rudolf Panka  |  info@rudolfpanka.hu
              {% else %}
                Copyright © 2020 Rudolf Panka
              {% endif %}
            </div>
            <div class="meta">|</div>
            <div class="meta">email: info@rudolfpanka.hu</div>
        </footer>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  <script src="/assets/javascripts/list-collapse.js"></script>
  <script src="/assets/javascripts/search-input.js"></script>
  <script src="/assets/javascripts/top-menu.js"></script>
  <script src="/assets/javascripts/code-collapse.js"></script>
  <script src="/assets/javascripts/slider.js"></script>
</html>