{% for article in site.articles %}
  {% if page.url == article.url %}
    {% assign current_article = article %}
  {% endif %}
{% endfor %}

<!DOCTYPE HTML>
<html lang="hu">
  {% seo %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.url != "/" and page.url != "/index" %}
        {{ current_article.title }} - {{ site.data.basic_info.name }}
      {% else %}
        {{ site.data.basic_info.name }}
      {% endif %}
    </title>
    <meta property="og:title" content="{{ site.data.basic_info.name }}" />
    <meta property="og:locale" content="hu" />
    <meta property="og:url" content="{{ site.data.basic_info.page_url }}" />
    <meta property="og:site_name" content="{{ site.data.basic_info.name }}" />
    <meta name="theme-color" content="{{ site.data.colors.deep_purple }}" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/favicon.svg" color="#3bc3a3" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-76x76.png" type="image/png" sizes="76x76" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-120x120.png" type="image/png" sizes="120x120" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-152x152.png" type="image/png" sizes="152x152" />
    <link rel="canonical" href="{{ site.data.basic_info.page_url }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/search.css" />
  </head>
  <body>
      <div class="page-wrapper">
        <body>
          <div class="page-wrapper">
            <header>
                  <ul id="menu" class="main-navigation">
                    <li class="menu-item"><a class="menu-link" href="/">Kezdőlap</a></li>
                    <li class="menu-item"><a class="menu-link" href="/About/">Rólam</a></li>
                    <li class="menu-item"><a class="menu-link" href="/contact/">Kapcsolat</a></li>
                    <li class="menu-item"><a class="menu-link" href="/blogposts/">Blog</a></li>
                  </ul>
                  <div class="placeholder"></div>
                  <div class="search-bar">
                    <div class="input-wrapper">
                      <label class="search-icon material-icon"></label>
                      <input type="text" id="search-input" placeholder="Search" />
                      <button class="search-clear material-icon" onclick="clearSearchField()"></button>
                    </div>
                  </div>
                  <div class="right-side-navigation">
                    <a class="social-logo" target="_blank" href="https://www.facebook.com/pages/category/Community/Rudolf-Panka-biblioterapeuta-%C3%B6nismeret-irodalom-263008247482207/"><img src="/assets/icons/facebook.svg"></img></a>
                    <a class="social-logo" target="_blank" href="https://www.instagram.com/rudolfpanka/"><img class="social-logo" src="/assets/icons/instagram.svg"></img></a>
                  </div>
            </header>
        <main>
          <div class="index-page">
            <div class="welcome">
              Welcome to my page! 
            </div>
            <div class="intro-background">
              <div class="intro-text">Life’s too short for bad books – but with a new book published every 30 seconds, it can be hard to know where to start.
          
                That’s why we set up a bibliotherapy service: to guide you to life-changing, eye-opening but often elusive works of literature, both past and present, the books that truly have the power to enchant, enrich and inspire.
              </div>
            </div>
          </div>
          <div class="index-page-2">
            <div class="intro-background">
              <div class="intro-text">
              Life’s too short for bad books – but with a new book published every 30 seconds, it can be hard to know where to start.
          
              That’s why we set up a bibliotherapy service: to guide you to life-changing, eye-opening but often elusive works of literature, both past and present, the books that truly have the power to enchant, enrich and inspire.
              </div>
            </div>
          </div>
          <div class="slider-wrap"> 
            <div class="slider" id="slider">
              <div class="holder">
                <div class="slide" id="slide-0"><div class="feedback"><nav class="next-0"><a href="">&lt;</a></nav><span class="feedback-text">Such a brilliant group experience!</span><span class="feedback-text">Felt like I was with family and friends.</span><span class="feedback-text">Panka is just out of this world!</span><nav class="next"><a href="#slide-1">&gt;</a></nav></div></div>
                <div class="slide" id="slide-1"><div class="feedback"><nav class="next"><a href="#slide-0">&lt;</a></nav><span class="feedback-text">Felt like I was with family and friends.</span><nav class="next"><a href="#slide-2">&gt;</a></nav></div></div>
                <div class="slide" id="slide-2"><div class="feedback"><nav class="next"><a href="#slide-1">&lt;</a></nav><span class="feedback-text">Panka is just out of this world!</span><nav class="next-2"><a href="#slide-2">&gt;</a></nav></div></div>
            </div>
          </div>
        </main>
        <footer>
            <div class="meta">
              {% assign current_year = 'now' | date: '%Y' %}
              {% if current_year != '2020' %}
                Copyright © 2020 - {{ current_year }} Me!
              {% else %}
                Copyright © 2020 Me!
              {% endif %}
            </div>
        </footer>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  <script src="/assets/javascripts/active-highlight.js"></script>
  <script src="/assets/javascripts/list-collapse.js"></script>
  <script src="/assets/javascripts/search-input.js"></script>
  <script src="/assets/javascripts/side-menu.js"></script>
  <script src="/assets/javascripts/code-collapse.js"></script>
</html>
